:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-title-color: #ffffff;
  --header-footer-color: #2f303a;
  --secondary-bg-color: #F5F4FA;
  --footer-text-color: color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: white;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575 */
/* Цвет белый #FFFFFF */
/* Цвет акцента #2196F3 */
/* Вторичный цвет фона #F5F4FA */
/* Цвет шапки и футера #2F303A */

/* Site now */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

/* Hero */

.hero {
  background-color: var(--header-footer-color);
}

.hero-title {
  color: var(--main-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Team */

.our-team {
  background-color: var(--secondary-bg-color);
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

/* Button */

.button {
  background-color: var(--accent-color);
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: var(--header-footer-color);
}

.contacts .address {
  color: var(--main-title-color);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.contacts .contact {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}




/* Porfolio */

.filter-list .buttons {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.filter-list .buttons:hover,
.filter-list .buttons:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}
.works-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
