.social-team-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .social-team-list {
    justify-content: center;
  }
}

.social-team-link {
  @extend %list-align;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
